.notMatch {
    padding: 2rem;
    background-color: var(--bs-secondary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.message>div {
    margin: 1rem 0;
}


.message>div>span {
    font-weight: bold;
}