/* .TabBarMargin{
  margin: 4.5rem 0 0 0;
} */
.TabBar {
  background-color: white;
  /* color: white; */
  display: flex;
  justify-content: space-around;
  border-top-style: solid;
  border-width: 0.2rem;
  border-top-color: var(--cyan);
  position: fixed;
  bottom: 0;
}
.TabBar.tab-disabled {
  display:none;
}
.TabBar a {
  text-decoration: none;
}
.TabBar button {
  border: 0;
  background-color: white;
  width: 25vw;
  height: 4.5rem;
  padding: 0;
  margin: 0;
  /* border-style: solid; */
  /* border-left-width: 1px; */
  /* border-right-width: 1px; */
  /* border-left-color: var(--grey); */
  /* border-right-color: var(--grey); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --text-color: var(--grey);
}
.TabBar .tab-icon {
  --size: 1.75rem;
  width: var(--size);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.TabBar .tab-label {
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}
.TabBar button.tab-current {
  --text-color: var(--cyan);
  ;
}
.TabBar button.tab-current>.tab-label{
  text-shadow: 0px 0px 5px #CCCCCC;
}
.TabBar button.tab-current>.tab-icon{
  filter: drop-shadow(0px 0px 2px #CCCCCC);
}