.App {
  text-align: center;
  /* min-height: 100vh; */
  --grey: #888888;
  --dark-grey: #555555;
  --light-cyan: rgba(102, 217, 199, 1);
  --cyan: rgba(46, 150, 191, 1);
  --red: rgba(196, 104, 104, 1);
   
}

h2 {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0rem;
}


h3 {
  color:var(--dark-grey);
}
h4 {
  color:var(--dark-grey);
}
h5 {
  color:var(--dark-grey);
}

.page-header {
  background: linear-gradient(90deg, rgba(102, 217, 199, 1) 0%, rgba(46, 150, 191, 1) 100%);
  color: white !important;
  /* border-bottom-left-radius: 40px; */
  /* border-bottom-right-radius: 40px; */
}

.swal2-container, .swal2-backdrop-show {
  z-index: 99999 !important;
  color: var(--cyan);
}

.swal2-title {
  font-size: 1.5rem !important;
}

.swal2-confirm {
  background-color: rgba(46, 150, 191, 1) !important;
}

.swal2-deny {
  background-color: rgba(196, 104, 104, 1) !important;
}

.button:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* .AppRoutes {
  margin: 0 0 5rem 0;
} */

/* .App-logo {
  height: 20vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */